body {
  background: #FFFFFF;
}

.logo {
  background: url(../images/logo.svg);
  background-size: 200px 141px;
  width: 200px;
  height: 141px;
  text-indent: -999em;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
       -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}